* {
  text-align: center;
  font-family: "IBM Plex Sans KR", sans-serif;
}

html {
  background-color: #ffe6d5;
  font-size: 16px;
}

body {
  width: 600px;
  margin: 20px auto; /* 너비에서 남는 여백을 동일하게 분배 */
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

#introduce p {
  color: rgb(1, 95, 1);
  font-size: 1.2rem;
}

#fun_facts p {
  color: hsl(22, 22%, 43%);
  font-size: 1.1rem;
}

span {
  font-size: 0.8rem;
  color: #5d5c5c;
}
